# Node modules
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
*.turtle
expo-env.d.ts

# Firebase keys or logs
firebase-debug.log
google-services.json
firebase-service-account.json

# Native folders (if ever ejected)
ios/
android/

# Editor
.vscode/

# Mac & system
.DS_Store
*.pem

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Env files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Other
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.env
google-services.json
firebase-service-account.json
